tends 'adminlte/base.html' %}

{% block content %}
    <h1>Listagem de iluminacao</h1>
    <a class="btn btn-success" href="{% url 'cadastrar_iluminacao' %}"><i class="fa fa-plus"></i> CADASTRAR ILUMINACAO</a>

    <table class="table table-striped">
        <thead>
            <th>NOME</th>
            <th>VALOR</th>
            <th>DESCRIÇÕES</th>
            <th>AMBIENTE</th>
            <th>FABRICAÇÃO</th>
        </thead>
        <tbody>
    {% for obj_iluminacao in object_list %}
            <tr>

                <td>{{obj_iluminacao.nome}}</td>
                <td>{{obj_iluminacao.valor}}</td>
                <td>{{obj_iluminacao.descricao}}</td>
                <td>{{obj_iluminacao.ambiente}}</td>
                <td>{{obj_iluminacao.fabricacao}}</td>


                <td>
                    <a href="{% url 'detalhes_iluminacao' obj_iluminacao.pk %}"><i class="fa fa-search" rel="tooltip" title="Ver detalhes de iluminacao"></i> </a>
                    <a href="{% url 'corrigir_venda' obj_venda.pk %}"><i class="fa fa-edit" rel="tooltip" title="Editar Venda"></i></a>
                    <a href="{% url 'atualizar_observacao_venda' obj_venda.pk %}"><i class="fa fa-edit"  rel="tooltip" title="Editar Observação"></i></a>
                    <a href="{% url 'atualizar_cliente_venda' obj_venda.pk %}"><i class="fa fa-edit"  rel="tooltip" title="Editar Cliente da Venda"></i></a>
                    {% if obj_venda.excluido is False %}
                    <a class="desabilitar-venda" data-url="{% url 'ajax_desabilitar_venda' obj_venda.pk %}" href="#"><i class="fa fa-times" rel="tooltip" title="Desabilitar Venda"></i></a>
                    {% else %}
                    <a class="habilitar-venda" data-url="{% url 'ajax_habilitar_venda' obj_venda.pk %}" href="#"><i class="fa fa-check" rel="tooltip" title="Habilitar Venda"></i></a>
                    {% endif %}
                </td>
            </tr>
    {% empty %}
        <h3>Desculpe, você ainda nao possui registros de iluminacao cadastradas em seu sistema.
            <br/>:'(</h3>
    {% endfor %}
        </tbody>
    </table>

    {% if is_paginated %}
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a class="btn btn-default" href="?page=1">&laquo; Primeira Página </a>
                <a class="btn btn-primary" href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-arrow-left"></i> Página Anterior </a>
                {% endif %}

                <span class="current">
                    | Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}. |
                </span>

                {% if page_obj.has_next %}
                    <a class="btn btn-primary" href="?page={{ page_obj.next_page_number }}">Próxima Página <i class="fa fa-arrow-right"></i></a>
                    <a class="btn btn-default" href="?page={{ page_obj.paginator.num_pages }}">| Última Página &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock %}


{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% endblock %}