{% extends 'adminlte/base.html' %}

{% block content %}
    <h1>Listagem de maquina</h1>
    <a class="btn btn-success" href="{% url 'cadastrar_eletricos' %}"><i class="fa fa-plus"></i> CADASTRAR MAQUINA</a>

    <table class="table table-striped">
        <thead>
            <th>NOME</th>
            <th>MARCA</th>
            <th>VALOR</th>
            <th>COR</th>
            <th>DESCRICAO</th>
            <th>NOME CONDUTOR</th>
            <th>CPF CONDUTOR</th>
            <th>PLACA</th>
            <th>CNH CONDUTOR</th>
            <th>CHASSI</th>
            <th>RECIBO</th>


        </thead>
        <tbody>
    {% for obj_maquina in object_list %}
            <tr>

                <td>{{obj_maquina.nome}}</td>
                <td>{{obj_maquina.marca}}</td>
                <td>{{obj_maquina.valor}}</td>
                <td>{{obj_maquina.cor}}</td>
                <td>{{obj_maquina.nomecondutor}}</td>
                <td>{{obj_maquina.cpfcondutor}}</td>
                <td>{{obj_maquina.placa}}</td>
                <td>{{obj_maquina.cnhcondutor}}</td>
                <td>{{obj_maquina.chasi}}</td>

                <td>
                    <center>
                        <a target="_blank" href="{% url 'pdf_maquina' obj_maquina.pk %}"><i class="fa fa-file-pdf" rel="tooltip" title="Visualizar Recibo"></i> </a>
                    </center>

                </td>



            </tr>
    {% empty %}
        <h3>Desculpe, você ainda nao possui registros de maquina cadastradas em seu sistema.
            <br/>:'(</h3>
    {% endfor %}
        </tbody>
    </table>

    {% if is_paginated %}
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a class="btn btn-default" href="?page=1">&laquo; Primeira Página </a>
                <a class="btn btn-primary" href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-arrow-left"></i> Página Anterior </a>
                {% endif %}

                <span class="current">
                    | Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}. |
                </span>

                {% if page_obj.has_next %}
                    <a class="btn btn-primary" href="?page={{ page_obj.next_page_number }}">Próxima Página <i class="fa fa-arrow-right"></i></a>
                    <a class="btn btn-default" href="?page={{ page_obj.paginator.num_pages }}">| Última Página &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock %}


{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% endblock %}
